@import '../../../lib/bootstrap/less/variables';
@import '../../../lib/bootstrap/less/mixins';
@import 'mixins';
@import 'photos';
@import 'videos';
@import 'ribbon';
@import 'prints';

#header{
  padding-left: 0px;
  padding-right: 0px;
}
nav {
  .navbar-inner {
    padding: 20px 0 10px;
    a.brand {
      padding: 10px 20px 0;
      @media (max-width: 480px) {
          width: 70%;
      }
    }
    a {
      font-size: 18px;
    }
  }
}

// CAROUSEL
.carousel {
  @media (max-width: 767px) {
    margin-right: -20px;
    margin-left: -20px;
  }
}
.carousel-inner {
  .item-container {
    width:100%;
    .hide-small {
      @media (max-width:480px) {
        display: none;
      }
    }
    .show-small {
      display: none;
      @media (max-width:480px) {
        display: block;
      }
    }
    display: table;
    div {
      display: table-cell;
    }
    .blank {
      width: 5%;
    }
    .picture {
      width: 55%;
    }
    .description {
      width: 35%;
      position: absolute;
      top: 0;
      bottom: 0;
      h1 {margin-left: 10px;}
      p {
        text-align: justify;
      }
      .p_wrapper {
        position: absolute;
        top: 150px;
        bottom: 70px;
        left: 10px;
        right: 20px;
        overflow: hidden;
      .p_ellipsis;
      }
      .watch-now {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 10;
      }
    }

  }
}

/*
.carousel {
  .carousel-control {
    opacity: 0;
    .transition(opacity 0.2s linear)
  }
  &:hover .carousel-control {
    opacity: .5;
  }
}


*/

#filter {
  float: right;
}
.h-fix .thumbnail {
  height: 450px;
}
#thumbnail_container {
  @media (max-width:767px) {
    float: left;
  }
}
.thumbnail {
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  
  overflow: hidden;
  .p_wrapper {
    text-align: justify;
  }
  a {
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 10;
  }
  .bottom {
    position: absolute;
    bottom: 0px;
    height: 50px;
    z-index: 5;
    width: 100%;
    #gradient > .vertical(rgba(250,250,250,0), rgba(250,250,250,1))
  }

}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed, .video-container div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#page {
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  @media (max-width:767px) {
    margin-left: -20px;
    margin-right: -20px;
  }
}
